body {
    min-height: 100vh;
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.Clock {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin: 5px;
    width: 100px;
    height: 30px;
    padding-top: 8px;
    background-color: rgb(236, 202, 129);
}

#timezone{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}